<div class="container ml-1 p-0">
  <p>Ask your coach anything:</p>
  <form action="/answer" data-turbo="false">
    <input type="text" class="custom-file-input" name="ask">
    <input type="submit" value="Ask!">
  </form>
</div>
